body
	color: #4a4a4a
	font-family: AvenirNext
	a
		text-decoration: none
		border: none
		color: #4A4A4A
.basic-title
	+rfs(20px)
	padding-bottom: 2px
	span
		border-bottom: 2px solid rgba(244,21,21,0.8)
.basic-menu
li
	margin-right: 40px
	// халтура ;)
	a
		text-decoration: none
		border: none
		+rfs(14px)
		font-weight: 500
		letter-spacing: 0px
		color: #4a4a4a
		&:hover
			margin-left: -10px
			span
				border-radius: 50%
				background-color: rgba(244,21,21,0.8)
				color: #ffffff
				padding: 2px 2px 2px 8px
		img
a
	&:hover
		text-decoration: none
		color: #4a4a4a
.allitems-button
	display: flex
	justify-content: flex-end
	span
		display: block
		padding: 18px 45px
		background-color: rgba(244, 21, 21, 0.8)
		color: #ffffff
		+rfs(14px)
		img
			padding-right: 5px
	justify-content: center
			