<footer class="footer">
	<div class="container">
		<div class="footer-body">
			<div class="footer-body__items footer-items">
				<section class="footer-items__menu footer-menu">
					<span class="footer-menu__title">Про нас</span>
					<ul>
						<li><a href="">Історія</a></li>
						<li><a href="">Команда</a></li>
						<li><a href="">Партнери</a></li>
						<li><a href="">Приєднатись</a></li>
						<li><a href="">Звітність</a></li>
					</ul>
				</section>
				<section class="footer-items__menu footer-menu">
					<span class="footer-menu__title">Проекти</span>
					<ul>
						<li><a href="">Гарячі</a></li>
						<li><a href="">Реалізовані</a></li>
						<li><a href="">В роботі</a></li>
						<li><a href="">Майбутні</a></li>
						<li><a href="">Путівник</a></li>
					</ul>
				</section>
				<section class="footer-items__menu footer-menu">
					<span class="footer-menu__title">Публікації</span>
					<ul>
						<li><a href="">Блог</a></li>
						<li><a href="">Новини</a></li>
						<li><a href="">Про проекти</a></li>
						<li><a href="">Пресс центр</a></li>
						<li><a href="">Цікаві місця</a></li>
					</ul>
				</section>
				<section class="footer-items__menu footer-menu">
					<span class="footer-menu__title">Крамниця</span>
					<ul>
						<li><a href="">Сувеніри</a></li>
						<li><a href="">Листівки</a></li>
						<li><a href="">Картини</a></li>
						<li><a href="">Сумки</a></li>
						<li><a href="">Сувеніри</a></li>
					</ul>
				</section>
				<section class="footer-items__menu footer-menu">
					<span class="footer-menu__title">Контакти</span>
					<ul>
						<li><a href="">FACEBOOK</a></li>
						<li><a href="tel:0012312312">099-000-44-55</a></li>
						<li><a href="mailto:mail@box">mail@box</a></li>
						<li><a class="write-us" href="">Написати нам</a></li> <!-- модальне віко -->
					</ul>
				</section>
				<section class="footer-items__buttons footer-buttons">
					<a href="">
						<img src="img/donate-icon.png" alt=""><span>ПІДТРИМАТИ</span>
					</a>
					<a href="">
						<img src="img/plus.png" alt=""><span>ДОДАТИ ПРОЕКТ</span>
					</a>
				</section>
			</div>
		</div>
	</div>
</footer>	
<div class="footer-copyrigths">
	<div class="container">
		<section class="footer-copyrights__left footer-left">
			<a href="" class="footer-left__deal">Угода про конфіденційність</a>
			<a href="" class="footer-left__rules">Правила користувача сервісом</a>
			<a href="" class="footer-left__copydate">Франківськ який треба берегти 2015-2018</a>
		</section>
		<section class="footer-copyright__right footer-right">
			<div class="footer-right__logo"><a href=""><img src="" alt="">LIONLINE.agency</a></div>
		</section>	
	</div>
</div>
<script src="js/libs.js"></script>
<script src="js/main.js"></script>
</body>
</html>