<header class="header">
	<div class="header-body">
		<div class="header-body__nav header-nav">
			<div class="header-nav__logo header-logo">
				<a href="#"><img src="img/header-logo.png" alt=""></a>
			</div>
			<ul class="header-nav__menu header-menu">
				<li><a href=""><span>П</span>ро нас</a></li>
				<li><a href=""><span>П</span>роекти</a></li>
				<li><a href=""><span>С</span>увеніри</a></li>
				<li><a href=""><span>Н</span>овини</a></li>
				<li><a href=""><span>П</span>рес-центр</a></li>
				<li><a href=""><span>К</span>онтакти</a></li>
				<li class="header-menu__btn"><a href="" class="header-menu__donate"><img src="img/donate-icon.png" alt="">ДОПОМОГТИ</a></li>
				<li><a href="" class="header-menu__login">Вхід/Реєтрація</a></li>
			</ul>
		</div>
	</div>
</header>